<header class="header">
    <div class="logo">
      <a routerLink="/"><img src="/img/logo.png" alt="Logo" /></a>
    </div>
  
    <nav class="menu">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="products/category/do-nam" routerLinkActive="active">Đồ Nam</a>
      <a routerLink="products/category/do-nu" routerLinkActive="active">Đồ Nữ</a>
      <a routerLink="products/category/do-be-trai" routerLinkActive="active">Đồ Bé Trai</a>
      <a routerLink="products/category/do-be-gai" routerLinkActive="active">Đồ Bé Gái</a>
    </nav>
  
    <div class="search">
      <input #searchInput type="text" placeholder="Bạn Muốn Tìm gì..." (keydown.enter)="onSearch(searchInput.value)" />
      <button (click)="onSearch(searchInput.value)">Tìm Kiếm</button>
    </div>

    <ng-container *ngIf="!isLoggedIn">
      <div class="auth-buttons">
        <button class="btn btn-primary me-2" routerLink="/auth/login">Đăng nhập/Đăng ký</button>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <div class="icons">
        <button title="Tài khoản" (click)="onAccountClick()">
          <i class="fa fa-user"></i>
        </button>
        <button title="Đăng xuất" (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
        <button title="Giỏ hàng" (click)="toggleCartDropdown()">
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>
    </ng-container>
    <div class="cart-dropdown" *ngIf="showCartDropdown">
      <app-cart-dropdown></app-cart-dropdown>
    </div>
  </header>
  