<header class="header">
    <div class="logo">
      <a routerLink="/"><img src="assets/images/logo.png" alt="Logo" /></a>
    </div>
  
    <nav class="menu">
      <a routerLink="/">Home</a>
      <a routerLink="/men">Đồ Nam</a>
      <a routerLink="/women">Đồ Nữ</a>
      <a routerLink="/boys">Đồ Bé Trai</a>
      <a routerLink="/girls">Đồ Bé Gái</a>
    </nav>
  
    <ng-container *ngIf="!isLoggedIn">
      <div class="auth-buttons">
        <button class="btn btn-primary me-2" routerLink="/auth/login">Đăng nhập/Đăng ký</button>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <div class="search">
        <input type="text" placeholder="Bạn Muốn Tìm gì..." />
        <button>Tìm Kiếm</button>
      </div>
    
      <div class="icons">
        <button title="Tài khoản" (click)="onAccountClick()">
          <i class="fa fa-user"></i>
        </button>
        <button title="Đăng xuất" (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
        <button title="Giỏ hàng">
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>
    </ng-container>
  </header>
  