<div class="admin-sidebar">
  <h3>Admin Panel</h3>
  <ul>
    <li><a routerLink="/admin/dash" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/admin/product-manager" routerLinkActive="active">Product Manager</a></li>
    <li><a routerLink="/admin/color" routerLinkActive="active">Colors Manager</a></li>
    <li><a routerLink="/admin/size" routerLinkActive="active">Size Manager</a></li>
    <li><a routerLink="/admin/category" routerLinkActive="active">Category Manager</a></li>
    <li><a routerLink="/admin/order-manager" routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/admin/chat" routerLinkActive="active">Customer Chat</a></li>
    <li><a (click)="logout()" style="cursor: pointer;">Đăng Xuất</a></li>
  </ul>
</div>
