<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Liên hệ - VPS FASHION</title>
  <link rel="stylesheet" href="contact.component.css">

</head>
<body>


<h1>LIÊN HỆ</h1>

<div class="section-1">
  <div class="section-title">HỖ TRỢ KHÁCH HÀNG MUA ONLINE</div>
  <p>Hotline: 0363652758</p>
  <p>Thời Gian: THỨ 2 đến THỨ 7</p>
  <p>Email: nguyenvuongquocvuong27042002&#64;gmail.com</p>
  <p>Địa Chỉ: 125A6 Trần Huy Liệu, Giảng Võ, Ba Đình, Hà Nội</p>
</div>

<div class="section">
  <div class="section-title">Chăm Sóc Khách Hàng</div>
  <p>Số Điện Thoại: 0385276300</p>
  <p>Email: vuongnqph43947&#64;fpt.edu.vn</p>
</div>

<div class="section">
  <div class="section-title">Đặt Hàng Trước</div>
  <p>Liên Hệ: Mr. Vương</p>
  <p>Số Điện Thoại: 0363652758</p>
  <div class="hotro-button">
    <img src="support-icon.png" alt="Hỗ trợ" width="20">
    Hỗ trợ
  </div>
</div>

</body>
</html>
